
.header{
    display: flex;
    justify-content: space-between;
    
    background-color: #ba322d;
    color: white;
    margin: -12px;
    padding: 20px;
    padding-bottom: 100px;
    

}
a{
    color: white;
    text-decoration: none;
}
.left{
    padding-left: 20px;
    font-size: 40px;
    font-weight: 900;
}
.right{
    padding-right: 20px;
    font-size: 20px;
    display: flex;
    list-style: none;
    gap: 20px;
}

.top{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    align-items: center;
    background-color: #ba322d;
    margin: -10px;
    padding-bottom: 30px;
    

}
.book-top{
    
    
    width: 400px;
    box-shadow: 10px 10px 10px rgba(10, 20, 10, 0.6);
}
.lefty{
display: flex;
flex-direction: column;
justify-content: start;

}
.panel{
    display: none;
}
.contact:hover{
    width: 50px;
}
.contact:hover .panel{
    display: block;
    margin-left: -200px;
    background-color: rgba(255, 182, 193, 0.786);
    padding: 20px;
    color: black;
    font-family: monospace;
    font-size: 20px;
    width: 300px;
    font-weight: 400;
    

}
.h1{
    margin: 0px;
    color: rgb(255, 253, 253);
    font-family: monospace;
    width: 600px;
    font-weight: 1000;
    font-size: 50px;
    text-shadow: 0 0 20px rgb(0, 0, 0); 
    
}
.h1:hover{
    transition: 0.5s;
    color: black;
    text-shadow: 0 0 20px rgb(186, 186, 186); 
}

.p1{
    width: 500px;
    margin-top: 5px;
    font-family: impact;
    font-size: 20px;

}
.sing-up{
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(142, 84, 84);
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    

}
.sing-up:hover{
    transition: 0.5s;
    background-color: white;
    color: brown;
    cursor: pointer;
}
.sing-up:active{
    background-color: white;
    color: rgba(165, 42, 42, 0.407);
}
.books{
    display: flex;
    flex-direction: column;

}
.h2{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;

}
.pic1{
    width: 200px;
    box-shadow: 10px 10px 10px black;
}
.pic1:hover{
    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(201, 87, 87);
}
.undertext{
width: 300px;
text-align:justify;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    transition: 1s; 
}
.pictxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.quote{
    display: flex;
    border: 3px solid black;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin: -10px;
    margin-top: 50px;
    background-color: rgba(201, 87, 87, 0.379);
}
.quote1{
    font-family: monospace;
    font-size: 20px;
    width: 500px;
    margin-bottom: -30px;
}
.gotoTOP1{
     display: flex;
     justify-content: center;
     margin-top: 50px;
     width: 200px;
     margin-left: 40%;
}
.gotoTOP{
    color: black;
    font-size: 20px;
    font-weight: 900;
    background-color: #e89d9aa9;
    width: 200px;
    padding: 30px;
    border: 0px;
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.805);
}
.gotoTOP:hover{
    cursor: pointer;
    transition: 1s;
transform: translateY(-10px);
}
.footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #ba322d;
    padding: 40px;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
    margin-top: 100px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    text-decoration: underline;
}